<div class="w-3/4 h-screen ">
  <img class="w-3/4 xl:object-fit xl:mx-48 xl:my-12 xl:rounded-3xl" src="../assets/menu.png">
  <div class="flex flex-row w-3/4 mt-2 space-x-1 w- xl:mx-48">
    <img class="w-1/2 xl:object-fit xl:rounded-3xl" src="../assets/urunler-1.png">
    <img class="w-1/2 xl:object-fit xl:rounded-3xl" src="../assets/urunler-3.png">
  </div>
  <img class="w-3/4 mt-2 xl:object-fit xl:mx-48 xl:my-12 xl:rounded-3xl" src="../assets/urunler-2.png">
  <img class="w-3/4 mt-2 xl:object-fit xl:mx-48 xl:my-12 xl:rounded-3xl" src="../assets/kart.png">
</div>