<div class="w-3/4 h-screen ">
  <img class="max-w-sm sm:max-w-none xl:w-3/4 object-fit xl:mx-48 xl:my-12 xl:rounded-3xl" src="../assets/1.jpeg">
  <img class="max-w-sm sm:max-w-none xl:w-3/4 object-fit xl:mx-48 xl:my-12 xl:rounded-3xl" src="../assets/2.jpeg">
  <div class="flex flex-row w-screen mt-2 space-x-1 xl:w-3/4 xl:mx-48">
    <img class="w-1/2 xl:object-fit xl:rounded-3xl" src="../assets/urunler-1.png">
    <img class="w-1/2 xl:object-fit xl:rounded-3xl" src="../assets/urunler-3.png">
  </div>
  <img class="max-w-sm mt-2 sm:max-w-none xl:w-3/4 xl:object-fit xl:mx-48 xl:my-12 xl:rounded-3xl"
    src="../assets/urunler-2.png">
  <img class="max-w-sm mt-2 sm:max-w-none xl:w-3/4 xl:object-fit xl:mx-48 xl:my-12 xl:rounded-3xl"
    src="../assets/kart.png">
</div>
